body {
    background-color: goldenrod;
}

/* navigate bar */
nav{
    font-family: sans-serif;
    font-size: larger;
}

/* link */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}


#introduction p {
    font-family: sans-serif;
}



/* preview image */
.gallery_thumb{
    width: 300px;
    object-fit: cover;
}


#footer {
    margin: auto;
    text-align:center;
    color: gray;
    font-style: italic;
    font-weight: lighter;

}

#footer p {
    font-size: small;
    align-self: center;
}