@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Libre+Baskerville&display=swap');

body {
    background-color: #D6B883;
}

/* line */

#line
{
    display: line; 
    position: fixed;   
    height: 110px;
    width: 100%;
    margin-top: -1%;
    background-color:#D6B883;
}

/* navigate bar */


nav{
    position:fixed; /* fixed in browser */
    margin-left: -25px;
    margin-top: 0px;
    width: 90%;
    font-family: sans-serif;
    font-size: larger;
    z-index: 1000;
}

.menu>ul {
    list-style: none;
    margin:0;
    width:100%;
    position: absolute;  /* updated position*/
}

.menu>ul::after {
    content: '';
    clear  : both;
}

.menu>ul>li {
    position: relative;
    float   : left;
    width   : auto;
}


/* nav bar button before hover */
.menu>ul>li>a {
    display: inline-block;
    text-align: center;
    background-color: #314455;
    color           : white;
    font-family: 'Cormorant Garamond', serif;
    font-size  : 24px;
    line-height: 45px;
    min-width: 160px;
    padding: 0 20px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    margin-left: 10px; /* edit it */
    margin-right: 10px;
    border-radius:5px;

}

/* nav bar button after hover */
.menu>ul>li:hover>a {
    background-color: #8caac5;  
    box-shadow: 0px 8px 16px 0px gray;
}

.sub {
    float: none;
    position: absolute;
    z-index:10000;
    right: 7%; /* only 7% can set the sub-menu in center */
    width   : 100%;
    height  : 90%;
    overflow: hidden;
}

.menu>ul>li:hover .sub{
    height: auto;
}


.sub>ul {
    list-style: none;
    transform: translateY(-100%);
    transition: all 0.5s ease;
}

.menu>ul>li:hover .sub>ul{
    transform: translateY(0);
}

.sub>ul>li {
    border-bottom: 1px solid grey;
}

.sub>ul>li:last-child {
    border-bottom: none;
}


/* dropdown menu button before hover */
.sub>ul>li>a {
    display: block;
    background-color: #314455;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 22px;
    line-height: 20px;
    padding: 15px 20px;
    text-decoration: none;
    transition: .1s ease-in-out;

}

/* dropdown menu button after hover */
.sub>ul>li>a:hover{
    background-color:#8caac5;  
}


a:link {
    color: black;
}

a:visited {
    color:black;
}

a:hover {
    color: rgb(99, 87, 87);
}


/* homepage introduction text */
#introduction p {
    margin-top: 60px;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin-left: 10%;
    margin-right: 10%;
    inline-size: auto;
    text-align: center;
}


/* preview div */
.gallery_container>ul{
    position: relative;
    width:1300px;
    height: 1300px;
}

#gallery {
    position: absolute;
    margin-top: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-gap: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}


/* preview loop part */
.grid_cell {
    align-self: baseline;
    margin-left: 0%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 0%;
    display: block;
}

@media (min-width: 1000px) {
    #gallery { 
        grid-template-columns: repeat(2, 700px); 
    }
}



/* preview image */
.gallery_thumb {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius:20px;
}

/* preview image after hover */
img:hover {
    box-shadow: 0px 8px 16px 0px gray;
}

.caption{
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    font-weight: bold;
}

#about{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 2;
}

#search{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin-top: 10%;
    text-align: center;
}

search-input{

    color:rgba(128, 128, 128, 0.667);
    font-size:20px;

}

input{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    width: 1000px;
    height: 80px;
    border-radius:20px;
    color:black;
    background-color: white;

}

#search-container{

    margin-left: 15%;
    margin-right:20%;
    
}

#results-container{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    line-height:2;
    color: grey;
    display: block;
    background-color:rgba(255, 255, 255, 0.633);
    width: 500px;
    border-radius:20px;
}

.footer{
    position:relative;
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 10%;

}

.footer>ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight:normal;
    font-size: large;
    align-self: center;
    position: absolute;
    bottom:0;
}

