
body {
    background-color: rgb(255, 255, 255);
}



img {
    width: 500px;
    align-self: center;
}

content {

}
#footer {
    margin: auto;
    text-align:center;
    color: gray;
    font-style: italic;
    font-weight: lighter;

}

#footer p {
    font-size: small;
    align-self: center;
}