---
---
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/CSS/buildings.css">
</head>

<body>
 <!-- line -->
    <div id= "line" ></div>

       
        <div id="header">
            <nav class="menu">
                <ul>
                    <li> <a href="{{ site.baseurl }}/">Home</a> </li>
                    <li> 
                        <a href="#">Buildings</a>
                        <div class="sub">
                            <ul>
                                <li> <a href="{{ site.baseurl }}/buildings/Bush-House">Bush House</a></li>
                                <li> <a href="{{ site.baseurl }}/buildings/King's-Building">King's Building</a></li>
                                <li> <a href="{{ site.baseurl }}/buildings/Maughan-Library">Maughan Library</a></li>
                                <li> <a href="{{ site.baseurl }}/buildings/Somerset-House-East-Wing">Somerset House East Wing</a></li>
                                <li> <a href="{{ site.baseurl }}/buildings/Roman-Bath">Roman Bath</a></li>
                                <li> <a href="{{ site.baseurl }}/buildings/Tube-Station">Aldwych Station</a></li>
                            </ul>
                        </div>
                    </li>
                    <li> <a href="{{ site.baseurl }}/about">About</a></li>
                    <li> <a href="{{ site.baseurl }}/search">Search</a>
            </nav>
        </div>
        <br><br> 
        <br><br><br>
        <br>
       


        {{ content }}

</body>